ul {
  list-style: none;
  max-width: 20em;
  max-height: 20em;
  margin: 0 auto;
}

body {
  overflow: hidden;
  background-color: grey;
  color: white;
  text-align: center;
}

div {
  width: 1em;
  height: 1em;
  float: left;
}

div.S, div.H {
  background-color: black;
}

div.e, div.A {
  background-color: white;
}

div.A {
  background-image: url("./apple.png");
  background-size: contain;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
