ul {
  list-style: none;
  margin: 0 auto;
  background-color: white;
  display: inline-block;
  clear: both;
  padding: 0;
}

li {
  float: left;
  clear: both;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background-color: grey;
  color: white;
  text-align: center;
}

div {
  margin: 1px;
  width: 1em;
  height: 1em;
  float: left;
}

div.S, div.H {
  background-color: black;
}

div.A {
  background-image: url("./apple.png");
  background-size: contain;
}
