ul {
  list-style: none;
  max-width: 40em;
  max-height: 40em;
}

body {
  overflow: hidden;
}

div {
  width: 2em;
  height: 2em;
  float: left;
}

div.H {
  background-color: blue;
}

div.S {
  background-color: black;
}

div.e {
  background-color: yellow;
}

div.A {
  background-color: red;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
